<div class="container mt-5">
  <table class="table" *ngIf="movies && movies.length">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Release Date</th>
        <th>Overview</th>
        <th>Average Vote</th>
        <th>Tagline</th>
        <th>Budget</th>
        <th>Box-Office</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of movies; let i=index">
        <td>{{i+1}}</td>
        <td>{{item.title | uppercase}}</td>
        <td>{{item.releaseDate | date:'short' }}</td>
        <td>{{item.overview}}</td>
        <td>
          <span class="badge badge-pill" [ngClass]="{'badge-success': item.averageVote > 8 ,'badge-warning': item.averageVote < 6, 'badge-primary': item.averageVote > 6 && item.averageVote < 8 }">
            {{item.averageVote}}
          </span>
        </td>
        <td>{{item.tagline}}</td>
        <td>{{item.budget | currency:'EUR' }}</td>
        <td>{{item.revenue | currency }}</td>
        <td>
          <img src="{{item.posterUrl}}" width="50" height="70" alt="">
        </td>
      </tr>

    </tbody>
  </table>
</div>
